:root {
  font-kerning: normal;
  font-variant-ligatures: common-ligatures
 contextual;
  font-feature-settings: "kern", "liga", "clig",
 “calt”;
 }
 
 body {
   font-size: 140%;
   font-family: 'Vollkorn', serif;
   margin-left: 1.5em;
   margin-right: 1.5em;
   margin-top: 1.5em;
 }

 input {
   font-size: inherit;
   font-family: 'Vollkorn', serif;
   width: 5em;
 }
 
 a {
   color: #36AECC;
   text-decoration: none;
   display: inline-block;
   line-height: 0.85;
 }
 
 hr {
     margin: .7em 0 5px 0;
 }
 